* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: kid;
  color: white;
  background-color: #f5deb3;
  overflow-x: hidden;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

i {
    font-size: 22px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-thumb {
    background: #b30000; 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #b3000091; 
  }