body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 206, 116);
    border: 1px solid #232323;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin: auto;
}

img {
    width: 200px;
    margin: 0 auto
}

.win {
    color: red;
    display: none;
}

button {
    margin: auto;
    margin-top: 10px;
    width: 200px;
    padding: 20px;
    background-color: rgb(133, 255, 133);
    border: 2px solid #232323;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgba(133, 255, 133, 0.322);
}