* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Supermercado One', cursive;
    color: #333;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100vh;
    background-image: linear-gradient(
    to right bottom, #534439, #ae9c8f, #ae9c8f, #bdaa9c,
    #bdaa9c, #bdaa9c, #bdaa9c, #ccb8a9,
    #d9c4b3, #e6d0bc, #f2dcc6, #ffe9d0);
}

.add-book-modal {
    display: none;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFE9D0;
    height: 425px;
    padding: 30px;
}

.add-book-modal span {
    cursor: pointer;
    position: absolute;
    font-size: 2em;
    right: 10px;
    top: -5px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label {
    width: 200px;
    padding: 15px;
}

form input {
    margin-top: 5px;
    width: 100px;
    padding: 3px;
}

form button {
    width: 120px;
    background-color: rgb(65, 65, 65);
    color: white;
    margin: 10px auto;
}

header {
    user-select: none;
    background-color: #FFE9D0;
    display: flex;
    padding: 20px;
    opacity: 0.8;
    border-bottom: 3px solid #333;
    position: relative;
}

header img {
    width: 70px;
}

.title {
    text-shadow: -2px 5px 5px #333333b4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-left: 30px;
}

.sub-title {
    position: absolute;
    font-size: 0.7em;
    text-shadow: 0px 0px 0px;
    font-family: 'Supermercado One', cursive;
    letter-spacing: 0px;
    top: 90px;
    left: 120px;
    color: rgb(95, 95, 95);
    font-style: italic;
}

.content {
    flex-grow: 10;    
}

nav {
    position: absolute;
    right: 50%;
    bottom: 5px;
}

nav button {
    width: 150px;
    background-color: #333;
    color: white;
}

table {
    table-layout: fixed;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background-color: #333;
}

thead {
    background-color: rgb(66, 66, 66);
}

thead th:nth-child(2n+3) {
    cursor: pointer;
    text-decoration: underline;

}

thead th:nth-child(2n+3):hover {
    color: rgb(194, 0, 0);
}

tr, td, th {
    border-bottom: 1px solid #ae9c8f;
    padding: 25px;
}

.price-symbol {
    font-size: 1.2em;
    color: rgb(194, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #FFE9D0;
    width: 85px;
    
}

button:hover {
    opacity: 0.8;
}

.actions {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
}

.actions > button {
    margin-top: 10px;
}

.new-price {
    position: absolute;
    top: 10%;
    right: 20%;
    background-color: #FFE9D0;
    padding: 15px;
    padding-right: 25px;
    border-radius: 10px;
    display: none;
}

.open-price {
    display: block;
}

.fas {
    cursor: pointer;
    color: green;
    position: absolute;
    right: 5px;
    top: 20px;
}

.new-price input {
    width: 100px;
}

.book-img {
    width: 100px;
    height: 150px;
    background-image: cover;
    border: 2px solid white;
}

.modal input{
    height:20px;
    width: 20px;
    text-align: center;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

.btn-rating {
    cursor: pointer;
    width:20px;
    height:20px;
    background:#FFE9D0;
    color: #333;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    position: relative;
    display: inline-table;
    vertical-align: middle;
    text-align: center;
}

.modal {
    background-color: rgba(51, 51, 51, 0.876);
    color: #FFE9D0;
    padding: 10px;
    position: absolute;
    top: 13%;
    right: 150%;
    height: 85vh;
    min-width: 300px;
    text-align: center;
    padding: 5px 30px;
    z-index: 1;
}

.rate span:nth-child(odd) {
    cursor: pointer;
}

.modal img {
    border: 4px solid white;
}

.modal.open {
    right: 50%;
    transition: right 0.7s;
}

.modal h2 {
    color: #FFE9D0;
    text-decoration: underline;
    text-transform: capitalize;
}

.modal > p {
    text-align: left;
    line-height: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: #333;
    border-top: 3px solid #ffffff;
    flex-grow: 0;
    display: flex;
    justify-content: center;


}

.button-container > button, footer > button{
    margin: 4px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding: 0px;
    border-radius: 50%;
}